.container{
    display: flex;
  flex-wrap:nowrap;
}
.editItem1{
}
.editItem2{
    width: 84%;
}
#delButton{
    align-self: flex-end;
    background-color: red;
    color: white;
}
.textItem{
    width:10%;
}